
* {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}

input {
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -o-user-select: text;
  user-select: text;
}

body {
  font-family: sans, helv, helvetica, Arial;
  font-size: 11pt;
  background: pink;
}

/* Used to position the tables and connection area. */
#spacerTable {
  width: 100%;
  height: 0px;
  visibility: hidden;
}

.tableDiv {
  position: absolute;
  overflow: auto;
  top: 1in;
  width: 3.18in;
  height: 5in;
  background: white;
  border: solid 1px black;
}

.tableDiv th {
  font-weight: normal;
  text-align: left;
  padding-left: 5px;
  border-top: 0px;
  border-left: 0px;
}

.displayTable {
  border-collapse: collapse;
  width: 3in;
  overflow: scroll;
  border: solid 0px black;
  font-size: 10pt;
}

.displayTable tr td {
  margin: 3pt;
  height: 13pt;
  vertical-align: top;
  border: solid 0px black;
  padding-left: 5px;
  cursor: default;
}

.displayTable tr.even {
  background: #EDF5FF;
}

.leftTable {
  left: 1in;
  width: 1.4in;
}

.rightTable {
  left: 7in;
}

.topTabs {
  margin: 15pt 0px 0px 0px;
  border-radius: 0px;
  background: darkgrey;
}

.topTabs li {
  border-left: solid 1px black;
  border-right: solid 1px black;
  border-top: solid 1px black;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding: 2pt 10px 2pt 10px;
  margin: 0px;
  display: inline-block;
  list-style: none;
  cursor: pointer;
}

.tabsel {
  background: lightgrey;
}

.topMenu {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.topMenu li {
  margin: 2pt 10px 2pt 10px;
  display: inline-block;
  list-style: none;
  cursor: pointer;
}

.topMenu li a {
  color: black;
  text-decoration: none;
}

.topMenu li a:hover {
  text-decoration: underline;
}

.topMenu li a.disabled:hover {
  text-decoration: none;
}

.topMenu li a.disabled {
  color: gray;
}

.trsel {
  background: lightblue !important;
}

.actionDiv ul {
  clear: none;
  display: inline-block;
}

.actionDiv {
}

.devActions {
}

.sigActions {
}

.signalControlsDiv {
  display: inline-block;
  margin-left: 20pt;
}

.signalControlsDiv div {
  display: inline-block;
}

.modesDiv div {
  margin: 5pt;
  padding: 5pt;
  border: solid 1px black;
  cursor: pointer;
}

.modesel {
  background: darkgrey;
}

.range {
  margin-left: 20pt;
}

.rangeSwitch {
  width: 20px;
  height: 20px;
  background: url(/images/range_switch.png);
  background-repeat: no-repeat;
  cursor: pointer;
}

.boundary {
  width: 24px;
  height: 24px;
  background: url(/images/boundary_icons.png);
  background-repeat: no-repeat;
  cursor: pointer;
}

.boundaryNone {
  background-position: 0px 0px;
}

.boundaryUp {
  background-position: -24px 0px;
}

.boundaryDown {
  background-position: -48px 0px;
}

.boundaryMute {
  background-position: -72px 0px;
}

.boundaryClamp {
  background-position: -96px 0px;
}

.boundaryWrap {
  background-position: -120px 0px;
}

.waiting {
  background: #EEEEEE;
}

.extratools {
  float: right;
}

#refresh {
  background:url(/images/refresh.png) no-repeat;
  cursor: pointer;
  border: solid 1px darkgray;
  border-radius: 5px;
  margin: 0px;
  padding: 0px;
  width: 24px;
  height: 24px;
}

#wsstatus {
  margin: 0px;
  padding: 0px;
  padding-right: 10px;
  padding-top: 5px;
  height: 24px;
  font-size: 8pt;
  color: gray;
}

.notification {
  font-style: italic;
  background-color: #DDDDDD;
  border: solid 1px black;
  border-radius: 5px;
  -moz-border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

thead {
  background-color: lightgray;
  border-bottom: 1px solid black;
  cursor: pointer;
}

.status {
  position: absolute;
  bottom: 0px;
  height: 23px;
  width: 100%;
  background-color: lightgray;
  border-top: 1px solid black;
  padding-left: 10px;
  padding-top: 3px;
}

#spacerTable {
  float: left;
}

.searchBar {
  position: absolute;
  margin: 0px;
}

#titleSearchDiv {
  height: 40px;
}

