
.tableDiv {
  position: absolute;
  overflow: auto;
  top: 1in;
  width: 3.18in;
  height: 5in;
}

.displayTable {
  border-collapse: collapse;
  width: 3in;
  overflow: scroll;
}

.displayTable tr td {
  margin: 3pt;
  font-size: 10pt;
  height: 13pt;
  vertical-align: top;
  border: solid 1px black;
  font-family: sans;
  cursor: pointer;
}

.leftTable {
  left: 1in;
}

.rightTable {
  left: 7in;
}

.topTabs {
  margin: 15pt 0px 0px 0px;
}

.topTabs li {
  border: solid 1 black;
  padding: 2pt 10px 2pt 10px;
  margin: 0px;
  display: inline-block;
  list-style: none;
  cursor: pointer;
}

.tabsel {
  background: lightgrey;
}

.leftTable .trsel {
  border-right: solid 5pt red;
}

.rightTable .trsel {
  border-left: solid 7pt red;
}

.actionDiv ul {
  clear: none;
  display: inline;
}

.actionDiv {
}

.devActions {
}

.sigActions {
}
