
* {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}

/* For HTML5 specs */
html, body {
    height: 100%;
}


/*@-webkit-keyframes myfirst 
{
    from {background: default;}
    to {background: yellow;}
}

.displayTable tbody tr {
    -webkit-transition: background .5s;
}

.displayTable tbody tr:hover {
    -webkit-animation: myfirst 1s;
}

path.selected {
    -webkit-transition: stroke .5s;
}*/

input {
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -o-user-select: text;
    user-select: text;
}

ul {
    -webkit-padding-start: 0;
    -moz-padding-start: 0;
    -o-padding-start: 0;
}

body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 200;
    font-size: 11pt;
    margin: 0 4px;
}

/* Color scheme! */

/* Main color */
body, .svgDiv, .tableDiv {
    background: white;
}

/* blues */
#statusBar,#titleSearchDiv, .topTabs li.tabsel {
    background: rgb(134,222,248) !important;
}

/* Header Bars */
thead, #svgTop, #networkMenu {
    background: #EEE;
}
.displayTable th:hover, #svgTop:hover {
    background-image: linear-gradient(to bottom, rgb(248, 248, 248) 0%, rgb(238, 238, 238) 100%);
}

/* highlights */
.modesel, .displayTable tr.trsel.even, #networkMenu td:hover  {
    background-color: #9CC2CF;
}

/* secondary highlight */
.trsel.odd {
    background: lightblue !important;
}

/* tertiary highlight selection */
.displayTable tr.even {
    background: #EDF5FF;
}

/* others */
.waiting {
    background: #EEEEEE;
}

input.range {
    border: 1px solid darkgrey;
}

/* paths */
path {
    stroke: black;
}
path.selected {
    stroke: red;
}
path.muted {
    stroke-dasharray: 4;
}
/******************/

/* Used to position the tables and connection area. */
#spacerTable {
    float: left;
    width: 100%;
    height: 0px;
    visibility: hidden;
}

/*Upper Tab Area */
.topTabs {
    margin: 0px;
    border-radius: 0px;
    background: inherit;
}

.topTabs li {
    border-radius: 12px 12px 0 0;
    padding: 5px 15px;
    background-image: linear-gradient(to bottom, rgb(238, 238, 238) 0%, rgb(224, 224, 224) 100%);
    display: inline-block;
    list-style: none;
    cursor: pointer;
}

.topTabs li:hover {
    background-image: linear-gradient(to bottom, rgb(248, 248, 248) 0%, rgb(224, 224, 224) 100%);
}

/****************/

/*The top menu*/
.topMenu {
    min-width: 560px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.topMenu div {
    display: inline-block;
    vertical-align: top;
}

.topMenu li {
    margin: 2px;
    list-style: none;
    cursor: pointer;
}

.utils {
    width: 160px;
    display:inline-block;
    padding: 10px;
    background-color: #EEE;
    border-radius:12px;
    height: 100%;
}

.utils div {
    margin-right: 10px;
    margin-bottom: 5px;
}

.signalProps {
    background-color: #EEE;
    border-radius:12px;
    width: calc(100% - 165px);
    padding: 10px;
    float: right;
}

form {
    margin-bottom: 0px;
}

#modeSelection {
    position: relative;
}


.topMenu li a {
    color: black;
    text-decoration: none;
}

.topMenu li a:hover {
    text-decoration: underline;
}

.topMenu li a.disabled:hover {
    text-decoration: none;
}

/*.topMenu li a.disabled {
    color: gray;
}*/

.ranges {
    padding-right: 10px;
}

.rangeSwitch {
    width: 20px;
    height: 20px;
    background: url(/images/range_switch.png);
    background-repeat: no-repeat;
    cursor: pointer;
    border: none;
    position: relative;
    top: 3px;
}

/* Just the boundary icons */
.boundary {
    width: 24px;
    height: 24px;
    background: url(/images/boundary_icons.png);
    background-repeat: no-repeat;
    cursor: pointer;
    border: none;
    margin-top: -5px;
    position: relative;
    top: 4px;
}
.boundaryNone {
    background-position: 0px 0px;
}
.boundaryUp {
    background-position: -24px 0px;
}
.boundaryDown {
    background-position: -48px 0px;
}
.boundaryMute {
    background-position: -72px 0px;
}
.boundaryClamp {
    background-position: -96px 0px;
}
.boundaryWrap {
    background-position: -120px 0px;
}
/****************/

.extratools {
    float: right;
}

#extratoolsDiv {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

@keyframes refreshButtonSpin {
    0%  {transform: rotate(0deg);}
    25%  {transform: rotate(90deg);}
    50% {transform: rotate(180deg);}
    75% {transform: rotate(270deg);}
    100% {transform: rotate(360deg);}
}

@-webkit-keyframes refreshButtonSpin {
    0%  {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);}
}

/* #refreshButton:active {
    -webkit-animation: refreshSpin 1s;
}*/

#refreshButton {
    /*position: absolute;*/
    top:  12px;
    float: left;
    background-image: url(/images/refresh.png);
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    width: 18px;
    height: 18px;
}

#saveButton, #loadbutton {
    cursor: pointer;
}

#wsstatus {
    position: fixed;
    bottom: 1px;
    right: 14px;
    z-index: 9;
    opacity: 0.5;
}

.signalControl {
    z-index: 1;
    position: relative;
}
  
<<<<<<< HEAD
    .modesDiv {
      padding: 0 10px;
      width: 50%;
      float: left;
    }
    .modesDiv div {
      padding-right: 3pt;
      margin-bottom: 10px;
      cursor: pointer;
      display: inline-block;
    }

    div.range {
      padding: 3px 3px;
      width: 100%;
    }
    input.range {
      text-align: center;
      margin: 0;
    }
    #srcMin, #destMin {
      border-right: 0;
    }
    input.range, input.expression {
      height: 19px;
      font-size: 9pt;
    }

    #saveLoadDiv {
      padding: 2px;
    }

    #networkMenu {
      position: absolute;
      z-index: 2;
      left: 37px;
      top: 30px;
    }

    #networkMenu td, #networkMenu th {
      opacity: 1;
    }

    #networkMenu td, #logo {
      cursor: pointer;
    }
=======
.modesDiv {
    padding: 0 10px;
    width: 50%;
    float: left;
}
.modesDiv div {
    padding-right: 3pt;
    margin-bottom: 10px;
    cursor: pointer;
    display: inline-block;
}

.button {
    padding-right: 3pt;
    margin-bottom: 10px;
    cursor: pointer;
    display: inline-block;
}

div.range {
    margin-left: 10px;
    padding: 3px 3px;
    width: 100%;
}
input.range {
    text-align: center;
    margin: 0;
}
#srcMin, #destMin {
    border-right: 0;
}
input.range, input.expression {
    height: 19px;
    font-size: 9pt;
}

/* For proper spacing of text of range divs */
input.expression {
    margin-left: 5px
}

#networkMenu {
    position: absolute;
    z-index: 2;
    left: 37px;
    top: 30px;
}

#networkMenu td, #networkMenu th {
    opacity: 1;
}

#networkMenu td, #logo {
    cursor: pointer;
}
>>>>>>> joe/master

/****************/

.notification {
    font-style: italic;
    background-color: #DDDDDD;
    border: solid 1px black;
    border-radius: 5px;
    -moz-border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
  

/* The table areas */
.tableDiv {
    position: absolute;
    overflow: auto;
    width: 40%;
    height: calc(100% - 89px);
    /*border: solid 1px black;*/
    border-bottom: 0;
}

/* The table itself */
.displayTable {
    border-collapse: collapse;
    width: 100.1%; /*Slightly more than 100%, cause 100% doesn't quite fill the frame for some reason*/
    overflow: scroll;
    border: solid 0px black;
    font-size: 10pt;
}
#rightTable {
    left: 60%;
    border-left: 0;
}
#leftTable {
    border-right: 0;
}

/* Rows and headers */
.tableDiv th, #svgTop {
    cursor: pointer;
    font-weight: inherit;
    text-align: left;
    border-top: 0px;
    border-left: 0px;
    padding: 4px 0;
    font-size: 11pt;
}

.invisible {
    display: none;
}

.displayTable tr td {
    vertical-align: middle;
    border: solid 0px black;
    cursor: default;
}

.displayTable td, .displayTable th, #svgTop {
    padding-left: 10px;
}

/*
.displayTable td:first-child {
    border-radius: 10px 0 0 10px;
}

.displayTable td:last-child {
    border-radius: 0 10px 10px 0;
}*/
/*****************/
/****************/

#statusBar {
    position: absolute;
    width: 100%;
    bottom: 0px;
    border-collapse: collapse;
}

.status {
    width: 40%;
    padding-left: 10px;
    padding-top: 3px;
    /*border: 1px solid black;*/
}

.status.middle {
    width: 20%;
    max-width: 10; /*To prevent overflow, doesn't matter what the number is*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/****************/


/*For the SVG area*/
/*TODO change classes to IDs for single objects*/
#svgDiv {
    position: absolute;
    border-bottom: 0;
    left: 40%;
    height: calc(100% - 85px);
    width: 20%;
}
#svgTop {
    width: 100%;
    position: absolute;
    top: 0px;
    cursor: pointer;
}
.incompatible {
    opacity: 0.5;
}
/****************/


/* Title and search bar */
/* Make sure inputs are not obscured*/
#titleSearchDiv input{
    margin-top: 12px;
}
#titleSearchDiv {
    height: 41px;
}
#titleSearchDiv h2 {
    margin-top: 9px;
    font-weight: inherit;
}
#svgTitle {
    left: calc(40% + 10px);
}
.searchBar {
    position: absolute;
    margin: 0px;
}
input.searchBar {
    width: 20%;
    text-align: right;
}
#leftTitle {
    left: 10px;
}
#leftSearch {
    right: calc(60% + 10px);
}
#rightTitle {
    left: calc(60% + 10px);
}
#rightSearch {
    right: 10px;
}
/****************/

/* The overall container of elements not in skeleton*/
#container {
    width: 100%;
    height: calc(100% - 85px);
    background-color: inherit;
    float: left;
    position: relative;
}

/* For disabled elements */
.disabled {
    opacity: 0.5 !important;
    pointer-events: none;
}
