
* {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}
/*
@-webkit-keyframes myfirst 
{
from {background: default;}
to {background: yellow;}
}

.displayTable tbody tr {
  -webkit-transition: background .5s;
}

path.selected {
  -webkit-transition: stroke .5s;
}*/

input {
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -o-user-select: text;
  user-select: text;
}

ul {
  -webkit-padding-start: 0;
  -moz-padding-start: 0;
  -o-padding-start: 0;
}

body {
  font-family: helvetica-light, helvetica, sans;
  font-size: 11pt;
  margin-top: 3px;
}

/* Color scheme! */

    /* Main color */
    body, .svgDiv, .tableDiv {
      background: white;
    }

    /* blues */
    #statusBar,#titleSearchDiv, .topTabs li.tabsel {
      background: rgb(134,222,248) !important;
    }

    /* Header Bars */
    thead, #svgTop, #networkMenu {
      background: #EEE;
    }
    .displayTable th:hover, #svgTop:hover {
      background-image: linear-gradient(to bottom, rgb(248, 248, 248) 0%, rgb(238, 238, 238) 100%);
    }

    /* highlights */
    .modesel, .displayTable tr.trsel.even {
      background-color: #9CC2CF;
    }
    /* secondary highlight */
    .trsel.odd {
      background: lightblue !important;
    }
    /* tertiary highlight selection */
    .displayTable tr.even {
      background: #EDF5FF;
    }

    /* others */
    .waiting {
      background: #EEEEEE;
    }
    input.range {
      border: 1px solid darkgrey;
    }

    /* paths */
    path {
      stroke: black;
    }
    path.selected {
      stroke: red;
    }
    path.muted {
      stroke-dasharray: 4;
    }
/******************/

/* Used to position the tables and connection area. */
#spacerTable {
  float: left;
  width: 100%;
  height: 0px;
  visibility: hidden;
}

/*Upper Tab Area */
  .topTabs {
    margin: 0px;
    border-radius: 0px;
    background: inherit;
  }

  .topTabs li {
    border-radius: 12px 12px 0 0;
    padding: 5px 15px;
    background-image: linear-gradient(to bottom, rgb(238, 238, 238) 0%, rgb(224, 224, 224) 100%);
    display: inline-block;
    list-style: none;
    cursor: pointer;
  }

  .topTabs li:hover {
    background-image: linear-gradient(to bottom, rgb(248, 248, 248) 0%, rgb(224, 224, 224) 100%);
  }

/****************/

/*The top menu*/
    .topMenu {
      padding: 10px 0;
      top: 0;
      margin: 0;
      margin-top: -1px;
      min-width: 560px;
    }

    .topMenu>div {
      display: inline-block;
    }

    .topMenu li {
      margin: 2px;
      display: inline-block;
      list-style: none;
      cursor: pointer;
    }

    form {
      margin-bottom: 0px;
    }

    #modeSelection {
      position: relative;
      top:  -1px;
    }


    .topMenu li a {
      color: black;
      text-decoration: none;
    }

    .topMenu li a:hover {
      text-decoration: underline;
    }

    .topMenu li a.disabled:hover {
      text-decoration: none;
    }

    /*.topMenu li a.disabled {
      color: gray;
    }*/

    .rangeSwitch {
      width: 20px;
      height: 20px;
      background: url(/images/range_switch.png);
      background-repeat: no-repeat;
      cursor: pointer;
    }

    /* Just the bounary icons */
        .boundary {
          width: 24px;
          height: 24px;
          background: url(/images/boundary_icons.png);
          background-repeat: no-repeat;
          cursor: pointer;
          border: none;
          margin-top: -5px;
          position: relative;
          top: 4px;
        }
        .boundaryNone {
          background-position: 0px 0px;
        }
        .boundaryUp {
          background-position: -24px 0px;
        }
        .boundaryDown {
          background-position: -48px 0px;
        }
        .boundaryMute {
          background-position: -72px 0px;
        }
        .boundaryClamp {
          background-position: -96px 0px;
        }
        .boundaryWrap {
          background-position: -120px 0px;
        }
    /****************/

    .extratools {
      float: right;
    }

    #extratoolsDiv {
      position: absolute;
      right: 0px;
    }

    #refresh {
      position: absolute;
      top:  18px;
      right:  14px;
      background-image: url(/images/refresh.png);
      background-size: contain;
      background-repeat: no-repeat;
      cursor: pointer;
      width: 25px;
      height: 25px;
    }

    #wsstatus {
      position: fixed;
      bottom: 5px;
      right: 14px;
      z-index: 9;
      opacity: 0.5; 
    }
    .signalControl {
      z-index: 1;
      position: relative;
    }
  
    .modesDiv {
      padding: 0 10px;
      margin-left: 30px;
    }
    .modesDiv div {
      padding: 3pt;
      cursor: pointer;
      display: inline-block;
    }

    div.range {
      margin-left: 10px;
      padding: 3px 3px;
    }
    input.range {
      text-align: center;
      margin: 0;
    }
    #rangeSrcMin, #rangeDestMin {
      border-right: 0;
    }
    input.range, input.expression {
      height: 19px;
      font-size: 9pt;
    }

    /* For proper spacing of text of range divs */
    #boundaryMin, #rangeSrcMin, input.expression {
      margin-left: 5px
    }

    #saveLoadDiv {
      display: inline-block;
      padding: 4px;
    }

    #networkMenu {
      position: absolute;
      z-index: 2;
      left: 37px;
      top: 30px;
    }

    #networkMenu td, #networkMenu th {
      opacity: 1;
    }

    #networkMenu td, #logo {
      cursor: pointer;
    }

    #networkMenu td:hover {
      background-color: blue;
    }

/****************/

.notification {
  font-style: italic;
  background-color: #DDDDDD;
  border: solid 1px black;
  border-radius: 5px;
  -moz-border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
  

/* The table areas */
  .tableDiv {
    position: absolute;
    overflow: auto;
    width: 40%;
    height: calc(100% - 85px);
    /*border: solid 1px black;*/
    border-bottom: 0;
  }

  /* The table itself */
    .displayTable {
      border-collapse: collapse;
      width: 100.1%; /*Slightly more than 100%, cause 100% doesn't quite fill the frame for some reason*/
      overflow: scroll;
      border: solid 0px black;
      font-size: 10pt;
    }
    #rightTable {
      left: 60%;
      border-left: 0;
    }
    #leftTable {
      border-right: 0;
    }

      /* Rows and headers */
      .tableDiv th, #svgTop {
        cursor: pointer;
        font-weight: normal;
        text-align: left;
        border-top: 0px;
        border-left: 0px;
        padding: 4px 0;
        font-size: 11pt;
      }

      .invisible {
        display: none;
      }

      .displayTable tr td {
        vertical-align: middle;
        border: solid 0px black;
        cursor: default;
      }

      .displayTable td, .displayTable th, #svgTop {
        padding-left: 10px;
      }

      /*
      .displayTable td:first-child {
        border-radius: 10px 0 0 10px;
      }

      .displayTable td:last-child {
        border-radius: 0 10px 10px 0;
      }*/
      /*****************/
    /****************/

  #statusBar {
    position: absolute;
    width: 100%;
    bottom: 0px;
    border-collapse: collapse;
  }

  .status {
    width: 40%;
    padding-left: 10px;
    padding-top: 3px;
    /*border: 1px solid black;*/
  }

  .status.middle {
    width: 20%;
    max-width: 10; /*To prevent overflow, doesn't matter what the number is*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
/****************/


/*For the SVG area*/
/*TODO change classes to IDs for single objects*/
  .svgDiv {
    position: absolute;
    border-bottom: 0;
    left: 40%;
    height: calc(100% - 85px);
    width: 20%;
  }
  #svgTop {
    width: 100%;
    position: absolute;
    top: 0px;
    cursor: pointer;
  }
  .incompatible {
    opacity: 0.5;
  }
/****************/


/* Title and search bar */
/* Make sure inputs are not obscured*/
    #titleSearchDiv input{
      margin-top: 12px;
    }
    #titleSearchDiv {
      height: 41px;
    }
    #titleSearchDiv h2 {
      margin-top: 9px;
      font-weight: normal;
    }
    #svgTitle {
      left: calc(40% + 10px);
    }
    .searchBar {
      position: absolute;
      margin: 0px;
      
    }
    input.searchBar {
      width: 200px;
      text-align: right;
    }
    #leftTitle {
      left: 10px;
    }
    #leftSearch {
      right: calc(60% + 10px);
    }
    #rightTitle {
      left: calc(60% + 10px);
    }
    #rightSearch {
      right: 10px;
    }
/****************/

/* The overall container of elements not in skeleton*/
#container {
  width: 100%;
  background-color: inherit;
  float: left;
  position: relative;
}

/* For disabled elements */
.disabled {
  opacity: 0.5 !important;
  pointer-events: none;
}