
.tableDiv {
  position: absolute;
  overflow: auto;
  top: 1in;
  width: 3.18in;
  height: 7in;
}

.displayTable {
  border-collapse: collapse;
  width: 3in;
  overflow: scroll;
}

.displayTable tr td {
  margin: 3pt;
  font-size: 10pt;
  height: 13pt;
  vertical-align: top;
  border: solid 1px black;
  font-family: sans;
}

.leftTable {
  left: 1in;
}

.rightTable {
  left: 7in;
}
