* {
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box
}

#balloonWrapper{
	margin: 0 auto;
	position: relative;
	float: left;
	font-family: helvetica, arial, sans-serif;
}

#BalloonSVG{
	
}

#balloonTable_src, #balloonTable_dst, #BalloonSVG{
	float: left;
	position: relative;	
}

.balloonTable{
	background-color: #efefef;
	overflow: auto;	
}

#accordion0, #accordion1{
	padding: 0;
	margin: 0;
}

#accordion0 .ui-accordion-header, #accordion1 .ui-accordion-header {  
    background-color: #aaa;  
    margin: 0px;
    padding: 15px;  
    font-weight: normal;
    color: #fff;  
    line-height: 42px;  
    display: block;  
    font-size: 12pt;  
    width: 200px;  
    text-indent: 10px;  
}  

#accordion0 .ui-accordion-header:hover, #accordion1 .ui-accordion-header:hover {
	color: #ccc;
}  

#accordion0 .ui-accordion-content, #accordion1 .ui-accordion-content {  
    width: 100%;  
    background-color: #f3f3f3;  
    color: #777;  
    font-size: 10pt;  
    line-height: 16pt;  
}  

.balloonTable ul{
	padding-left: 10px;
	list-style-position: inside;
	cursor: pointer;
}

.balloonTable li{
	cursor: pointer;
	padding-left: 14px;
}

.balloonTable li:hover{
	color: #333;
}

.balloonTableLI_inView{
	background-color: red;
}

.BalloonNode_src{
	fill: #fff;
	stroke: paleVioletRed ;
}
.BalloonLeafNode_src{
	fill: paleVioletRed ;
	stroke: #fff;
}
      
.BalloonNode_dst{
	fill: #fff;
	stroke: #04C4D9;
}
.BalloonLeafNode_dst{
	fill: #04C4D9;
	stroke: #fff;
}

.BalloonNode_over{
	stroke-width: 4px;     
}
.BalloonNode_selected{
	stroke-width: 8px;     
}

.BalloonCorner{
	fill: #000;
	stroke: #832352;
	opacity: 0.08;
}

#output ul{
	padding-left: 40px;
}

