#balloonWrapper{
	margin: 0 auto;
	position: relative;
	float: left;
}

#BalloonSVG{
	
}

#balloonTable_src, #balloonTable_dst, #BalloonSVG{
	float: left;
	position: relative;	
}

.balloonTable{
	background-color: #efefef;
	overflow: auto;
}

.balloonTable ul{
	padding-left: 20px;
}

.balloonTableLI_inView{
	background-color: red;
}


.BalloonNode_src{
	fill: #fff;
	stroke: paleVioletRed ;
}
.BalloonLeafNode_src{
	fill: paleVioletRed ;
	stroke: #fff;
}
      
.BalloonNode_dst{
	fill: #fff;
	stroke: #04C4D9;
}
.BalloonLeafNode_dst{
	fill: #04C4D9;
	stroke: #fff;
}

.BalloonNode_over{
	stroke-width: 4px;     
}
.BalloonNode_selected{
	stroke-width: 8px;     
}

.BalloonCorner{
	fill: #000;
	stroke: #832352;
	opacity: 0.08;
}

#output ul{
	padding-left: 40px;
}