.hive_svg{
	/*fill: url(#bkGradient);*/
	fill: #fff;
}

.bkTop{
	stop-color: #fff; 
	stop-opacity:1;
}
.bkBot{
	stop-color: #fff; 
	/*stop-color: #fafafa*/; 
	stop-opacity:1;
}

.hive_axis_SRC{
	stroke: #333;
	stroke-width: 1px;
	stroke-linecap: round;
}

.hive_axis_DST{
	stroke: #000;
	stroke-width: 1px;
	stroke-linecap: round;
}


.hive_connection{
	stroke: #04C4D9;
	stroke-width: 1px;
	stroke-opacity: 0.6;
	fill: none;
}

.hive_connection_over{
	stroke: #ff0000;
	stroke-opacity: 1;
	stroke-width: 1px;
	fill: none;
}

.hive_connection_hidden{
	display: none;
}

.hive_connection_selected{
	stroke: #ff0000;
	stroke-opacity: 1;
	stroke-width: 2px;
	fill: none;
}

.Node{
	stroke: #000;
	stroke-width: 1px;
}

.Node_hidden{
	stroke: #000;
	stroke-width: 1px;
	stroke-dasharray: 2,2;
}

.Node_selected{
	stroke-width: 3px; 	
}

#HivePlotSVG{
	position: absolute;
	right: 0;
	
}
	
#hive_inclusionTable{
	background-color: #eee;	
	position: absolute;
	left: 0;
	font-family: helvetica, arial, sans-serif;
	font-size: 12px;
}
#hive_actionBar{
	background-color: #555;	
	position: absolute;
	bottom: 0;
	right: 0;
	font-family: helvetica, arial, sans-serif;
	font-size: 12px;
}

.hive_srcLabel, .hive_dstLabel{
	color: #fff;
	position: absolute;
}
.hive_srcLabel{ left: 10px; }
.hive_dstLabel{ right: 10px; }
.hive_conLabel{ color: #fff; float: middle; position: relative }




