.hive_svg{
	/*fill: url(#bkGradient);*/
	fill: #fff;
}

.bkTop{
	stop-color: #fff; 
	stop-opacity:1;
}
.bkBot{
	stop-color: #fff; 
	/*stop-color: #fafafa*/; 
	stop-opacity:1;
}

.hive_axis{
	stroke: #333;
	stroke-width: 1px;
	stroke-linecap: round;
}
.hive_axis_forMouseOver{
	stroke: #333;
	stroke-width: 8px;
	opacity: 0;
}

.hive_axis_over{
	stroke: #000;
	stroke-width: 3px;
	stroke-linecap: round;
}


.hive_connection{
	stroke: #04C4D9;
	stroke-width: 1px;
	stroke-opacity: 0.6;
	fill: none;
}

.hive_connection_forMouseOver{
	stroke: #04C4D9;
	stroke-width: 3px;
	stroke-opacity: 0;
	fill: none;
}

.hive_connection_over{
	stroke: #ff0000;
	stroke-opacity: 1;
	stroke-width: 1px;
	fill: none;
}

.hive_connection_hidden{
	display: none;
}

.hive_connection_selected{
	stroke: #ff0000;
	stroke-opacity: 1;
	stroke-width: 3px;
	fill: none;
}

.Node{
	stroke: #000;
	stroke-width: 1px;
}

.Node_hidden{
	stroke: #000;
	stroke-width: 0px;
	/*stroke-dasharray: 2,2;*/
}

.Node_selected{
	stroke-width: 3px; 	
	stroke: #000;
}

.hive_node_over{
	stroke: #000;
	stroke-width: 2px; 	
}

#HivePlotSVG{
	position: absolute;
	right: 0;
	
}
	
#hive_inclusionTable{
	background-color: #fff;	
	position: absolute;
	left: 0;
	font-family: helvetica, arial, sans-serif;
	font-size: 12px;
}

#hive_inclusionTable .inclusionTableH2{
	font-weight: bold;
	-webkit-margin-after: 3px;	
}
#hive_inclusionTable .signalLabel{
}
#hive_inclusionTable li .signalLabel_selected{
	color: white;
	background-color: #ff0000;
}

#hive_inclusionTable button {
	font-size: 11px;
	border-radius: 3px; 
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px; 
	border: 0px solid #eeeeee;
	background: #F2FFDE;
	padding: 5px 8px;
	margin: 0 2px 2px 0;
}
#hive_inclusionTable button:hover{ 
	background-color: #EEE8AA;
}
#hive_inclusionTable button:active{
	background-color: #FFFFF0;
}

#hive_actionBar{
	background-color: #04C4D9;	
	position: absolute;
	bottom: 6px;
	right: 0;
	font-family: helvetica, arial, sans-serif;
	font-size: 12px;
	cursor:pointer;
}

#hive_actionBar:hover{background-color: #05d4e9}
#hive_actionBar:active{background-color: #06e4f9}

.hive_srcLabel, .hive_dstLabel, .hive_conLabel{
	color: #fff;
	position: relative;
	font-size: 16px;
	bottom: 14px;
	padding: 0 10px;
}
.hive_srcLabel{ float: left; }
.hive_dstLabel{ float: right; }

.treeView{
      margin: 0;
      padding: 0;
        
      }

      .treeView ul{
     	padding: 0 0 0 20px;	
		margin: 0;
      }

      .treeView ul ul{
      }

      .treeView li.lastChild > ul{
        background-image:none;
      }

      .treeView li{
        margin:0;
        padding:0;
        list-style-position:inside;
        list-style-image:url('button-open.png');
        cursor:pointer;
      }

      .treeView li.collapsibleListOpen{
        list-style-image:url('button-open.png');
        cursor:pointer;
      }

      .treeView li.collapsibleListClosed{
        list-style-image:url('button-closed.png');
        cursor:pointer;
      }

      .treeView li li{
        padding-left:1.5em;
        list-style-image:url('button2.png');
      }

      .treeView li.lastChild{
      }

      .treeView li.collapsibleListOpen{
      }

      .treeView li.collapsibleListOpen.lastChild{
      }
      
#hive_filtersBar {
	background-color: #eee;	
	position: absolute;
	bottom: 0px;
	left: 0px;
	padding: 5px 10px;
}
      
#hive_filtersBar {
	font-size:  10px;
	font-family: sans-serif;
}      
      