.hive_svg{
	/*fill: url(#bkGradient);*/
	fill: #fff;
}

.bkTop{
	stop-color: #fff; 
	stop-opacity:1;
}
.bkBot{
	stop-color: #fff; 
	/*stop-color: #fafafa*/; 
	stop-opacity:1;
}

.hive_axis_SRC{
	stroke: #333;
	stroke-width: 1px;
	stroke-linecap: round;
}

.hive_axis_DST{
	stroke: #000;
	stroke-width: 1px;
	stroke-linecap: round;
}


.hive_connection{
	stroke: #ccc;
	stroke-width: 1px;
	stroke-opacity: 0.4;
	fill: none;
}

.hive_connection_over{
	stroke: #04C4D9;
	stroke-opacity: 1;
	stroke-width: 1px;
	fill: none;
}

.hive_connection_hidden{
	display: none;
}

.Node{
	stroke: #000;
	stroke-width: 1px;
}

.Node_hidden{
	stroke: #000;
	stroke-width: 1px;
	stroke-dasharray: 2,2;
}

#HivePlotSVG{
	position: absolute;
	left: 0;
	
}
	
#hive_inclusionTable{
	background-color: #eee;	
	position: absolute;
	right: 0;
	font-family: helvetica, arial, sans-serif;
	font-size: 12px;
}

