@CHARSET "UTF-8";


#gridWrapper{margin: 0 auto;}
#view{}

#devGrid{position: relative; float: left; background: #fff; font-family: sans-serif;}
#sigGrid{position: relative; float: left; background: #fff; font-family: sans-serif;}



#hZoomSlider0 {margin-left: 29px; height: 18px }
#hZoomSlider0 .ui-slider-handle {height:18px; width: 18px; top: -1px; border-radius: 0;}
#hZoomSlider1 {margin-left: 29px; height: 18px }
#hZoomSlider1 .ui-slider-handle {height:18px; width: 18px; top: -1px; border-radius: 0;}

#vZoomSlider0 {width: 18px;}
#vZoomSlider0 .ui-slider-handle {height: 18px; width:18px; left: -1px; border-radius: 0;}
#vZoomSlider1 {width: 18px;}
#vZoomSlider1 .ui-slider-handle {height: 18px; width:18px; left: -1px; border-radius: 0;}

/*
[id^='hZoomSlider'] {margin-left: 29px; height: 18px;  }
[id^='hZoomSlider'] .ui-slider-handle {height:18px; width: 18px; top: -1px; border-radius: 0;}
[id*='vZoomSlider'] {width: 18px;}
[id*='vZoomSlider'] .ui-slider-handle {height: 18px; width:18px; left: -1px; border-radius: 0;}
*/

[id*='hZoomSlider'] .ui-widget-header, [id*='vZoomSlider'] .ui-widget-header  {background: darkgray;}
[id*='hZoomSlider-'] .ui-state-focus, [id*='vZoomSlider'] .ui-state-focus{background: #f6f6f6; border: 1px solid #cccccc;}
[id*='hZoomSlider-'] .ui-state-focus.ui-state-hover, [id*='vZoomSlider'] .ui-state-focus.ui-state-hover{background: #fdf5ee; border: 1px solid #fcbc09;}

.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr { border-radius: 0;}



a, a:active, a:visited { color: #607890; text-decoration: none; outline-color: -moz-use-text-color; outline-style: none; outline-width: medium; }
a:hover { color: #036; }

.cell_up{
	fill: #dddddd;	
}

.cell_disabled{
	/*fill: url(pattern.png) top left repeat;*/
	fill: #dddddd;
	fill-opacity: 0.3;
}

.cell_over{
	fill: #0076b0;
}
.row_over{
	fill: #AAAAAA;
}

.cell_selected{
	stroke-width:2;
	stroke: #000000;
}
.cell_connected{
	fill: #04C4D9;
	animation-name: connected;
	animation-duration: 300ms;
	animation-timing-function: linear;
	animation-delay: 0s; 
	animation-iteration-count: 1;
	
	/* Safari and Chrome: */
	-webkit-animation-name: connected;
	-webkit-animation-duration: 300ms;
	-webkit-animation-timing-function: linear;
	-webkit-animation-delay: 0s;
	-webkit-animation-iteration-count: 1;
}

@keyframes connected
{
	0%  {fill:#EEEEEE;}
	100%  {fill:#04C4D9;}
}

@-webkit-keyframes connected /* Safari and Chrome */
{
	0%  {fill:#EEEEEE;}
	100%  {fill:#04C4D9;}
}

.label{
	fill: #3e3e3e;
}
.label_over{
	font-weight: bold;		
}
.label_selected{
	fill: red;		
}

.pen{
	stroke: #00FF00;
	stroke-width: 2; 
	stroke:rgb(0,0,255);
	stroke-dasharray: "1,0,5,0";	
}


#hScroll{
	background-color: #444444;
}
#hScrollButton{
	fill: #EEEEEE;
}
	
	